<ion-modal-view>
  <ion-header-bar class="bar-positive">

  </ion-header-bar>
  <ion-content>

<div class="card">
  <div class="item item-text-wrap">
    <!-- <i class="ion-help"></i> -->
    This will end your exam and submit you for a final score evaluation. Do you want to want to submit now?

<p></p><p></p>
<div class="center">
<button class="button button-positive" ng-click="confirmSubmit()">
 Yes
</button>
<button class="button button-assertive" ng-click="cancelSubmit()">
 No
</button>
</div>

  </div>
</div>


  </ion-content>
</ion-modal-view>
