<ion-modal-view >
  <ion-header-bar class="bar-positive">
     <ion-view view-title="Time's up">
      </ion-view>
  </ion-header-bar>
  <ion-content>

<div class="card">
  <div class="item item-divider">
    <h1 class="title center"><i class="ion-android-alarm-clock xlarger"></i></h1>
  </div>
  <div class="item item-divider center">
     <!-- <ion-content> -->
   Sorry your Times' up! 
  <!-- </ion-content> -->
  <!--   <span class="input-label text-center">Time's up!</span>
    <input type="text" class="text-center" placeholder="Press the button below to view results"> -->
  </div>
  <div class="item item-divider">
    <form ng-submit="viewResults()">
    
          <button class="button button-block button-positive" type="submit">View Results</button>
    
      </form>
  </div>
</div>


  </ion-content>
</ion-modal-view>
